---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';




---

<Layout title="Teleco Do Santos Security Teach">
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
	<Contact />
    <CTA />
  </main>
  <Footer />
</Layout>